body{
	box-sizing: border-box;
	text-align: center;
	font-family: 'Ubuntu', 'Monaco', sans-serif;
	background-image: linear-gradient(315deg, #51A1A8, #F5B98E);
	height: 125vh;
	margin: 0;
	padding: 0;
	position:relative;
}

.galactic{
	background-image: radial-gradient(
		#cf60e0,
		black);
}

/**Header stuff**/
header{
	width: 100%;
	height: 50px;
	color: black;
	padding-top: 10px;
	padding-left: 5px;
	font-size: 30px;
	text-align: left;
	margin: auto;
	background-color: #8EECF5;
	display:flex;
	box-shadow: 0 0 10px 0 black;
}

header * {
	display:inline;
}

header li {
	font-size: 18px;
	margin: 20px;
	text-align: right;
}

header li a {
	color: darkgray;
	text-decoration: none;
}

header li a:hover{
	color:black;
}

.header-title{
	font-family: 'Lobster';
	color:black;
}

.galactic-header{
	background-color: #94904E;
}

/**Table and Task-Title styling**/
.task-title{
	font-size: 32px;
	color: black;
	display:inline;
}

.task-row {
	margin-top: 30px;
	user-select: none;
}

.material-icons{
	font-size: 36px;
	cursor:pointer;
	color:white;
}

.instructions-column{
	margin: 0 auto;
	padding: 10px;
	text-align: left;
}

.instructions-number{
	font-size: 30px;
	color: white;
	padding-right: 10px;
}

/**Traffic Box Styling**/
.trafficBox{	
	height:250px;
	width:100px;
	border: 5px solid black;
	background-color: darkgray;
	border-radius: 5px;
	margin: 10px auto;
}

.circle{
	height: 50px;
  	width: 50px;
  	border: 3px solid black;
  	background-color: lightgray;
 	border-radius: 50%;
 	margin: 15px auto;
}

/**Button Stylings**/
.lightButton{
	height: 50px;
	width: 200px;
	background-color: orange;
	padding-top: 15px;
	border-radius: 10px;
	font-size: 18px;
	margin: auto;
	text-align: center;
	cursor: pointer;
	user-select: none;
}

.lightButton:hover{
	box-shadow: 2px 2px 3px 1px black;
}

.resetButton{
	width: 50px;
	height: 20px;
	background-color: orange;
	padding: 5px;
	border-radius: 10px;
	font-size: 16px;
	margin:10px auto;
	text-align:center;
	cursor:pointer;
	user-select:none;
}

.resetButton:hover{
	box-shadow: 2px 2px 3px 1px black;
}

.galaxy{
	background-color: #31943F;
}

.adder-row{
	margin: 10px auto;
	text-align: center;
}
.adderButton{
	height: 30px;
	width: 50px;
	margin: 20px;
	border-radius: 10px;
	font-size:36px;
	cursor: pointer;
}

.adderButton:hover{
	box-shadow: 2px 2px 3px 1px black;
}

.newLightsButton{
	width: 100px;
}

/** This code is taken from Stack Overflow to prevent users
from being able to select text on any website.  Link to code is
below as well as on the footer of the page 

https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting 

**/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/**Footer code**/
footer{
	position:absolute;
	left:0vh;
	bottom:0;
	width: 100%;
	height:30px;
	background-color:#8EECF5;
	opacity:0.5;
	text-align: left;
	justify-content: center;
	padding-top: 10px;
	padding-left:10px;

}

footer * {
	display:inline;
}

footer li {
	margin-left: 20px;
}